In [1]:
# Import Dependencies
import pandas as pd
import requests
import json
import gmaps
from config import gkey
gmaps.configure(api_key=gkey)

In [2]:
   # Create a reference the CSV file desired
csv_path = "Parking_Violations_Issued_in_December_2018.csv"

# Read the CSV into a Pandas DataFrame
Parking2018 = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
Parking2018 = Parking2018.drop(columns=["ROWID_","DAY_OF_WEEK",
                          "BODY_STYLE","HOLIDAY",
                          "WEEK_OF_YEAR","MONTH_OF_YEAR","ISSUE_TIME"])
Parking2018.head()

,X,Y,OBJECTID,VIOLATION_CODE,VIOLATION_DESCRIPTION,LOCATION,RP_PLATE_STATE,ADDRESS_ID,STREETSEGID,XCOORD,YCOORD,TICKET_ISSUE_DATE
0,-77.026516,38.897354,5373144,P034,"METER, FAIL TO DEPOSIT PAYMENT",1000 BLOCK F ST NW SOUTH SIDE,DC,813477,11599.0,397700,136611,2018-12-07T10:09:00.000Z
1,-77.053032,38.899362,5373145,P003,RESIDENTIAL PERMIT PKING BEYOND LIMIT W/O PERMIT,800 BLOCK NEW HAMPSHIRE AVE NW *,DC,811580,9940.0,395400,136835,2018-12-07T10:48:00.000Z
2,-77.031951,38.908045,5373146,P385,"STOPPING, STANDING OR PARKING VEHICLE IN BIKE ...",BLOCK 1400 14TH ST NW WEST SIDE,DC,802156,1804.0,397229,137798,2018-12-31T15:28:00.000Z
3,-77.027555,38.901335,5373147,P281,FAIL TO DISPLAY A MULTISPACE METER RECEIPT,1200 BLOCK EYE ST NW NORTH SIDE,DC,801091,919.0,397610,137053,2018-12-06T20:59:00.000Z
4,-77.007473,38.902527,5373148,P025,PARK LESS THAN 40 FEET FROM AN INTERSECTION,UNIT BLOCK K ST NE SOUTH SIDE,DC,808361,7159.0,399352,137185,2018-12-07T13:03:00.000Z

In [3]:
Parking2018 = Parking2018.round({"X": 3, "Y":3})
Parking2018.head()

,X,Y,OBJECTID,VIOLATION_CODE,VIOLATION_DESCRIPTION,LOCATION,RP_PLATE_STATE,ADDRESS_ID,STREETSEGID,XCOORD,YCOORD,TICKET_ISSUE_DATE
0,-77.027,38.897,5373144,P034,"METER, FAIL TO DEPOSIT PAYMENT",1000 BLOCK F ST NW SOUTH SIDE,DC,813477,11599.0,397700,136611,2018-12-07T10:09:00.000Z
1,-77.053,38.899,5373145,P003,RESIDENTIAL PERMIT PKING BEYOND LIMIT W/O PERMIT,800 BLOCK NEW HAMPSHIRE AVE NW *,DC,811580,9940.0,395400,136835,2018-12-07T10:48:00.000Z
2,-77.032,38.908,5373146,P385,"STOPPING, STANDING OR PARKING VEHICLE IN BIKE ...",BLOCK 1400 14TH ST NW WEST SIDE,DC,802156,1804.0,397229,137798,2018-12-31T15:28:00.000Z
3,-77.028,38.901,5373147,P281,FAIL TO DISPLAY A MULTISPACE METER RECEIPT,1200 BLOCK EYE ST NW NORTH SIDE,DC,801091,919.0,397610,137053,2018-12-06T20:59:00.000Z
4,-77.007,38.903,5373148,P025,PARK LESS THAN 40 FEET FROM AN INTERSECTION,UNIT BLOCK K ST NE SOUTH SIDE,DC,808361,7159.0,399352,137185,2018-12-07T13:03:00.000Z

In [4]:
Parking2018_Grouped = Parking2018.groupby(["X","Y"]).count()
Parking2018_Grouped = Parking2018_Grouped.reset_index()

# Store latitude and longitude in locations
locations = Parking2018_Grouped[["Y", "X"]]

# Fill NaN values and convert to float
count = Parking2018_Grouped["OBJECTID"].astype(float)
Parking2018_Grouped

,X,Y,OBJECTID,VIOLATION_CODE,VIOLATION_DESCRIPTION,LOCATION,RP_PLATE_STATE,ADDRESS_ID,STREETSEGID,XCOORD,YCOORD,TICKET_ISSUE_DATE
0,-77.112,38.935,1,1,1,1,1,1,1,1,1,1
1,-77.112,38.936,1,1,1,1,1,1,1,1,1,1
2,-77.111,38.931,1,1,1,1,1,1,1,1,1,1
3,-77.110,38.935,3,3,3,3,3,3,3,3,3,3
4,-77.109,38.936,1,1,1,1,1,1,1,1,1,1
5,-77.107,38.930,1,1,1,1,1,1,1,1,1,1
6,-77.107,38.932,2,2,2,2,2,2,2,2,2,2
7,-77.103,38.925,1,1,1,1,1,1,1,1,1,1
8,-77.103,38.926,7,7,7,7,7,7,7,7,7,7
9,-77.102,38.923,1,1,1,1,1,1,1,1,1,1
10,-77.102,38.925,10,10,10,10,10,10,10,10,10,10
11,-77.102,38.926,29,29,29,29,29,29,29,29,29,29
12,-77.101,38.924,1,1,1,1,1,1,1,1,1,1
13,-77.101,38.925,2,2,2,2,2,2,2,2,2,2
14,-77.101,38.927,2,2,2,2,2,2,2,2,2,2
15,-77.101,38.928,1,1,0,1,1,1,1,1,1,1
16,-77.100,38.922,1,1,1,1,1,1,1,1,1,1
17,-77.100,38.925,2,2,2,2,2,2,2,2,2,2
18,-77.099,38.919,68,68,68,68,68,68,68,68,68,68
19,-77.099,38.945,1,1,1,1,1,1,1,1,1,1
20,-77.099,38.946,14,14,14,14,14,14,14,14,14,14
21,-77.098,38.920,3,3,3,3,3,3,3,3,3,3
22,-77.098,38.946,9,9,9,9,9,9,9,9,9,9
23,-77.098,38.950,3,3,3,3,3,3,3,3,3,3
24,-77.097,38.916,3,3,3,3,3,3,3,3,3,3
25,-77.097,38.918,5,5,5,5,5,5,5,5,5,5
26,-77.097,38.919,4,4,4,4,4,4,4,4,4,4
27,-77.097,38.937,1,1,1,1,1,1,1,1,1,1
28,-77.097,38.944,1,1,1,1,1,1,1,1,1,1
29,-77.097,38.946,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
4490,-76.920,38.892,2,2,2,2,2,2,2,2,2,2
4491,-76.920,38.893,17,17,11,17,15,17,17,17,17,17
4492,-76.920,38.897,1,1,1,1,1,1,1,1,1,1
4493,-76.920,38.899,5,5,5,5,3,5,5,5,5,5
4494,-76.919,38.886,1,1,1,1,1,1,1,1,1,1
4495,-76.919,38.900,3,3,3,3,3,3,3,3,3,3
4496,-76.918,38.886,6,6,6,6,6,6,6,6,6,6
4497,-76.918,38.887,3,3,3,3,3,3,3,3,3,3
4498,-76.918,38.890,9,9,7,9,6,9,9,9,9,9
4499,-76.918,38.893,1,1,1,1,1,1,1,1,1,1
4500,-76.918,38.895,4,4,3,4,4,4,4,4,4,4
4501,-76.918,38.897,4,4,4,4,4,4,4,4,4,4
4502,-76.917,38.887,27,27,27,27,23,27,27,27,27,27
4503,-76.917,38.896,1,1,1,1,1,1,1,1,1,1
4504,-76.916,38.890,1,1,1,1,1,1,1,1,1,1
4505,-76.916,38.893,2,2,2,2,2,2,2,2,2,2
4506,-76.916,38.894,4,4,4,4,4,4,4,4,4,4
4507,-76.916,38.895,1,1,1,1,1,1,1,1,1,1
4508,-76.916,38.897,10,10,10,10,10,10,10,10,10,10
4509,-76.916,38.898,2,2,2,2,2,2,2,2,2,2
4510,-76.915,38.894,1,1,1,1,1,1,1,1,1,1
4511,-76.915,38.897,1,1,1,1,1,1,1,1,1,1
4512,-76.914,38.891,3,3,3,3,2,3,3,3,3,3
4513,-76.914,38.896,15,15,11,15,15,15,15,15,15,15
4514,-76.913,38.892,1,1,1,1,1,1,1,1,1,1
4515,-76.912,38.892,1,1,1,1,1,1,1,1,1,1
4516,-76.912,38.894,9,9,8,9,9,9,9,9,9,9
4517,-76.911,38.892,4,4,4,4,4,4,4,4,4,4
4518,-76.911,38.894,4,4,3,4,4,4,4,4,4,4
4519,-76.910,38.893,1,1,1,1,0,1,1,1,1,1

In [5]:
fig = gmaps.figure(map_type="HYBRID")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=count, dissipating=False, max_intensity=300, point_radius=.0015)


# # Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))